<!doctype html>
<html lang="en" data-framework="react">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Anonymous Twitter</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<script src="js/vue.js"></script>
	<script src="js/moment.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<style>
		label {
			display: block;
		}

		.center {
			margin: auto;
			width: 70%;
		}
	</style>
</head>

<body>
	<div id="tweets" class="container center">
		<div class="row flex-xl-nowrap">
			<main class="center col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
				<form v-on:submit.prevent="post">
					<div class="form-group">
						<label>API URL</label>
						<select class="form-control"  v-model="apiurl">
							<option value="https://us-central1-cloud-academy-content-team.cloudfunctions.net/api">Google Cloud</option>
							<option value="https://ca-anony-twit.azurewebsites.net/">Azure</option>
							<option value="https://mt4s17t29i.execute-api.us-east-2.amazonaws.com/Prod/api">AWS</option>
						</select>
						
					</div>
					<div class="form-group">
						<label>Subject</label>
						<input class="form-control" v-model="header" placeholder="Comment Subject">
					</div>
					<div class="form-check">
						<label>Message</label>
						<textarea class="form-control" v-model="content" placeholder="What do you have to say?"></textarea>

					</div>
					<button class="btn btn-primary">Post!</button>

				</form>




				<br>
				<div class=" ow flex-xl-nowrap list-group">
					<button class="btn btn-primary" v-on:click="refresh">Refresh!</button>
					<a href="#" v-for="tweet in tweets" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Subject: {{tweet.header}}</h5>
							<small>{{daysAgo(tweet.created)}}</small>
						</div>
						<p class="mb-1">{{tweet.content}}</p>
					</a>

				</div>
			</main>
		</div>
	</div>

	<script type="text/javascript">
		var tweetWrapper = new Vue({
			el: '#tweets',
			data: {
				tweets: [],
				apiurl:  '',
				header:  '',
				content: '',
			},
			methods: {
				daysAgo: function (d) {
					return moment(d).fromNow();
				},
				post: function (event) {
					event.preventDefault();
					postData({
						'content': tweetWrapper.content,
						'header': tweetWrapper.header
					});

				},
				refresh: function (e) {
					loadData();
				}
			}
		});

		function loadData() {
			$.ajax({
				url: tweetWrapper.apiurl,
				method: "GET",
				dataType: "json"
			})
			.done(function(data) {
				console.log(data);
				tweetWrapper.tweets = data.sort(function(a, b) {
					return a.created < b.created;	
				});
			})
			.fail(function(data) {
				console.log(data);
			});
		}
		function postData(data) {
			$.ajax({
				url: tweetWrapper.apiurl,
				method: "POST",
				dataType: "json",
				contentType: 'application/json',
				data: JSON.stringify(data)
			})
			.done(function(data) {
				loadData();
			})
			.fail(function(data) {
				console.log(data);
			});
		} 

	</script>
</body>

</html>